@-webkit-keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(calc(-250px * 7));
              transform: translateX(calc(-250px * 7));
    }
  }
  
  @keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(calc(-250px * 7));
              transform: translateX(calc(-250px * 7));
    }
    
  }
  .slider {
    background: pr;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .slider::before, .slider::after {
    /* background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%); */
    content: "";
    height: auto;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  .slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
  }
  .slider::before {
    left: 0;
    top: 0;
  }
  .slider .slide-track {
    -webkit-animation: scroll 80s linear infinite;
            animation: scroll 80s linear infinite;
    display: flex;
    width: calc(250px * 14);
  }
  .slider .slide {
    
    margin-right: 10px;
  }
  .slide-track:hover{
      animation-play-state: paused;
  }
  .cards{
    background-color: #FFF !important;
    width: 300px !important;
    overflow: auto !important;  
    margin-right: 10px;
    padding-top: 10px;
  }

  .bannerr{
    background-image: url('../img/blue.png');
    background-repeat: no-repeat;
    padding-bottom: 25rem;
}
.bannerr_text{
  padding-top: 10rem;
  /* padding-bottom: 10rem; */
}
.bannerr input{
  border: none !important;

  padding: 10px 10px !important;
}

/* .back .backimage{
  position: absolute;
width: 60px;
height: 60px;
 left: 100px;
top: 30px; 

font-family: 'Font Awesome 6 Duotone';
font-style: normal;
font-weight: 900;
font-size: 60px;
line-height: 60px;



}  */
.mt-20{
  margin-top: 60px;
}
.textt{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
/* or 160% */

text-align: center;

color: #555555;

}
.texttt{
  font-family: Roboto;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  
  
  

}
.middle{
  background-color: #EEF3F7;
}

.backin{
  /* background-image: url('../img/people.png'); */
  /* padding-bottom: 8rem; */
  height: 40rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url('../img/people.png');
  /* background-position: center; */
  background-size: cover;
 
}
.backin input{
border: none !important;

/* padding: 10px 10px !important; */
}
.ahmed{
  height: 20rem;
}
.footimage{
  /* background-image: url('../img/people.png'); */
  /* padding-bottom: 8rem; */
  
  background-image: url('../img/nnn.png');
  /* background-position: center; */
 
 
}

.headingg{
  
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 25px;
/* identical to box height, or 126% */


color: #222222;
}


.bannerrr{
  background-image: url('../img/ooo.png');
  background-repeat: no-repeat;
  /* padding-bottom: 25rem; */
}
.bannerrr_text{
padding-top: 15rem;
/* padding-bottom: 4rem; */
padding-bottom: 10rem;
}
.bannerrr input{
border: none !important;

padding: 10px 10px !important;
}
.backcolor{
  background-color: #EEF3F7;
}
.backimagee{
  /* position: absolute; */
height: 445px;
left: 0.91%;
right: 50.91%;
/* top: calc(50% - 445px/2 - 0.09px); */

/* background: url(../img/ppp.png); */
border-radius: 4px;
}
.bannerrrr{
  background-image: url('../img/blue.png');
  background-repeat: no-repeat;
  /* padding-bottom: 25rem; */
  height: 491px;
}
.editing{
  text-align: left;
}
.editing a{
  border-left: 3px solid rgba(255, 255, 255, 0.596);
  margin: 2px;
  padding: 5px;
  text-decoration: none;
  

}
.editing a:hover{
  border-left: 3px solid rgba(255, 255, 255, 0.952);
}
.pleft{
  padding-left: 300px;
}



.slide-container {
  width: 60%;
  height:110vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  /* background-color: rgb(110, 110, 250); */
}

.image-slider{
  width: 100%;
  height: 630px;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}

.slides-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 30px;
}

.img{
  position: relative;
  width: 240px;
  height: 270px;
  transition: 0.5s;
}

.button {
  position: absolute;
  width: 240px;
  height: 270px;
  transition: 0.5s;
  background-color: rgba(67, 67, 151, 0.2);
}

#slider-span1:target ~ .image-slider #img1,
#slider-span1:target ~.image-slider #button-1{
  width:260px;
  height: 350px;
  background-color: transparent;
}
#slider-span2:target ~ .image-slider #img2,
#slider-span2:target ~.image-slider #button-2{
  width:260px;
  height: 350px;
  background-color: transparent;
}
#slider-span3:target ~ .image-slider #img3,
#slider-span3:target ~.image-slider #button-3{
  width:260px;
  height: 350px;
  background-color: transparent;
}

#slider-span4:target ~ .image-slider #img4,
#slider-span4:target ~.image-slider #button-4{
  width:260px;
  height: 350px;
  background-color: transparent;
}

#slider-span5:target ~ .image-slider #img5,
#slider-span5:target ~.image-slider #button-5{
  width:260px;
  height: 350px;
  background-color: transparent;
}

#slider-span1:target ~.image-slider{
  left:20%;
}
#slider-span2:target ~.image-slider{
  left:0%;
}
#slider-span3:target ~.image-slider{
  left:-20%;
}
#slider-span4:target ~.image-slider{
  left:-20%;
}
#slider-span5:target ~.image-slider{
  left:-20%;
}